.login-form-section
    .container
        .row
            .col-xl-6.col-md-10.ml-auto.mr-auto
                .login-form__box
                    h3.heading-tertiary.login-form__title login
                    .form-group
                        input(type="email", placeholder="Your Email",autocomplete="on").form-control.email-form.py-4
                    .form-group
                        input(type="password", placeholder="Password").form-control.pw-form.py-4
                    .form-group.d-flex.align-items-center.login-form__options
                        .checkBox.d-flex.align-items-center
                            input(type="checkbox")#remember.mr-2
                            label(for="remember").mb-0 Remember me 
                        .forgetPassword.ml-auto
                            a(href="#").text-decoration-none Forgot password?
                    .form-group.position-relative
                        button.btn.btn-block.btn-login--primary 
                        
                    .form-group.d-flex.align-items-center.justify-content-center.custom__container
                        .custom--line
                        span OR
                        .custom--line
                    .form-group.d-flex.align-items-center.justify-content-center
                        button.btn.btn-facebook.btn-login--secondary
                            i.fab.fa-facebook-f
                            span Facebook
                        button.btn.btn-google.btn-login--secondary
                            i.fab.fa-glide-g
                            span Google
                    .form-group.d-flex.align-items-center.justify-content-center.login-form__signUp.mb-0
                        p Don't Have an Account? 
                            a(href="#").text-decoration-none Sign up now

