.header-top-section
    .header-top
        .container
            .row.align-items-center
                .col-md-6 
                    .header-top__left.d-flex.align-items-center.justify-content-between.justify-content-md-start
                        .header-top__left-language.d-flex.align-items-center.py-2.dropdown
                            img(src="./assets/images/header/eng.png").language__icon.img.rounded-circle.mr-2
                            p.header-top__text English 
                            i.header-top__icon-option.ti-angle-down.ml-2
                        .header-top__left-money.d-flex.align-items-center.px-3.py-2.dropdown
                            p.header-top__text USD 
                            i.header-top__icon-option.ti-angle-down.ml-2
                        .header-top__left-phone.d-flex.align-items-center.py-2
                            i.header-top__icon.ti-mobile.mr-2
                            p.header-top__text 123-456-7890
                .col-md-6
                    .header-top__right.d-flex.align-items-center.justify-content-between.justify-content-md-end 
                        a(href="")
                            .header-top__right-compare.align-items-center.d-flex.py-2
                                i.header-top__icon.ti-control-shuffle.mr-2
                                p.header-top__text Compare   
                        a(href="") 
                            .header-top__right-wishlist.align-items-center.d-flex.px-3.py-2
                                i.header-top__icon.ti-heart.mr-2
                                p.header-top__text Wishlist
                        a(href="") 
                            .header-top__right-login.align-items-center.d-flex.py-2
                                i.header-top__icon.ti-user.mr-2
                                p.header-top__text Login 
    .header-nav-section
        .container 
            .header-nav 
                .navbar.navbar-expand-lg.p-0 
                    a(href="#").header-nav-left.navbar-brand
                        img(src="./assets/images/header/logo_dark.png").img
                    .collapse.navbar-collapse.justify-content-end.header-nav__center
                        ul.navbar-nav
                            li.dropdown
                                a(data-toggle="dropdown" href="#").d-flex.align-items-center.header-nav__text home 
                                    i.header-nav__icon.ti-angle-down.ml-2
                                ul.dropdown-menu.py-0
                                    li.px-0
                                        a.dropdown-item.nav_item(href="#") Fashion 1
                                    li.px-0
                                        a.dropdown-item.nav_item(href="#") Fashion 2
                                    li.px-0  
                                        a.dropdown-item.nav_item(href="#") Furniture 1
                                    li.px-0
                                        a.dropdown-item.nav_item(href="#") Furniture 2
                                    li.px-0
                                        a.dropdown-item.nav_item(href="#") Electronics 1
                                    li.px-0
                                        a.dropdown-item.nav_item(href="#") Electronics 2
                            li.dropdown
                                a(data-toggle="dropdown" href="#").d-flex.align-items-center.header-nav__text pages 
                                    i.header-nav__icon.ti-angle-down.ml-2
                                ul.dropdown-menu.py-0
                                    li.px-0
                                        a.dropdown-item.nav_item(href="#") About Us
                                    li.px-0  
                                        a.dropdown-item.nav_item(href="#") Contact Us
                                    li.px-0
                                        a.dropdown-item.nav_item(href="#") Faq
                                    li.px-0 
                                        a.dropdown-item.nav_item(href="#") 404 Error Page
                                    li.px-0
                                        a.dropdown-item.nav_item(href="#") Login
                                    li.px-0
                                        a.dropdown-item.nav_item(href="#") Register
                                    li.px-0
                                        a.dropdown-item.nav_item(href="#") Terms and Conditions
                            li.dropdown.position-static
                                a(data-toggle="dropdown" href="#").d-flex.align-items-center.header-nav__text products 
                                    i.header-nav__icon.ti-angle-down.ml-2
                                .w-100.dropdown-menu.mega-menu
                                    ul.d-lg-flex.py-3
                                        li.col-lg-3.p-0
                                            ul.border-right
                                                li.dropdown-header Woman's
                                                li
                                                    a.dropdown-item.nav_item(href="#") Vestibulum sed
                                                li
                                                    a.dropdown-item.nav_item(href="#") Donec porttitor
                                                li
                                                    a.dropdown-item.nav_item(href="#") Donec vitae facilisis
                                                li
                                                    a.dropdown-item.nav_item(href="#") Curabitur tempus
                                                li
                                                    a.dropdown-item.nav_item(href="#") Vivamus in tortor
                                        li.col-lg-3.p-0
                                            ul.border-right
                                                li.dropdown-header Men's
                                                li
                                                    a.dropdown-item.nav_item(href="#") Donec Vitae Ante Ante 
                                                li
                                                    a.dropdown-item.nav_item(href="#") Etiam Ac Rutrum
                                                li
                                                    a.dropdown-item.nav_item(href="#") Quisque Condimentum
                                                li
                                                    a.dropdown-item.nav_item(href="#") Curabitur Laoreet
                                                li
                                                    a.dropdown-item.nav_item(href="#") Vivamus in tortor
                                        li.col-lg-3.p-0
                                            ul.border-right
                                                li.dropdown-header Kid's
                                                li
                                                    a.dropdown-item.nav_item(href="#") Donec Vitae Facilisis
                                                li
                                                    a.dropdown-item.nav_item(href="#") Quisque Condimentum
                                                li
                                                    a.dropdown-item.nav_item(href="#") Etiam Ac Rutrum
                                                li
                                                    a.dropdown-item.nav_item(href="#") Donec Vitae Ante Ante 
                                                li
                                                    a.dropdown-item.nav_item(href="#") Donec Porttitor
                                        li.col-lg-3.p-0
                                            ul
                                                li.dropdown-header Accessories's
                                                li
                                                    a.dropdown-item.nav_item(href="#") Donec vitae facilisis
                                                li
                                                    a.dropdown-item.nav_item(href="#") Quisque Condimentum
                                                li
                                                    a.dropdown-item.nav_item(href="#") Etiam Ac Rutrum
                                                li
                                                    a.dropdown-item.nav_item(href="#") Donec Vitae Ante Ante 
                                                li
                                                    a.dropdown-item.nav_item(href="#") Donec Porttitor
                                    .row.m-0.mb-2
                                        .col-lg-4.position-relative
                                            .mega-menu__img
                                                img(src="assets/images/header/menu_banner1.jpg", alt="").img-fluid
                                            .mega-menu__sale.position-absolute
                                                h6 15% Off
                                                h4 Men's Fashion
                                                a(href="#").position-relative Shop now
                                                    .mega-menu__sale-divider.position-absolute
                                        .col-lg-4.position-relative
                                            .mega-menu__img
                                                img(src="assets/images/header/menu_banner2.jpg", alt="").img-fluid
                                            .mega-menu__sale.position-absolute 
                                                h6 15% Off
                                                h4 Men's Fashion
                                                a(href="#").position-relative Shop now
                                                    .mega-menu__sale-divider.position-absolute
                                        .col-lg-4.position-relative 
                                            .mega-menu__img
                                                img(src="assets/images/header/menu_banner3.jpg", alt="").img-fluid
                                            .mega-menu__sale.position-absolute 
                                                h6 15% Off
                                                h4 Men's Fashion
                                                a(href="#").position-relative Shop now
                                                    .mega-menu__sale-divider.position-absolute
                            li.dropdown
                                a(data-toggle="dropdown" href="#").d-flex.align-items-center.header-nav__text blog 
                                    i.header-nav__icon.ti-angle-down.ml-2
                                ul.dropdown-menu.py-0
                                    li.px-0.dropleft
                                        a.dropdown-item.nav_item(href="#") Grids
                                            i.header-nav__icon.ti-angle-right.float-right
                                        ul.dropleft-menu.py-0
                                            li.px-0
                                                a.dropleft-item.nav_item(href="#") 3 Columns 
                                            li.px-0  
                                                a.dropleft-item.nav_item(href="#") 4 Columns 
                                            li.px-0
                                                a.dropleft-item.nav_item(href="#") Left Sidebar  
                                            li.px-0 
                                                a.dropleft-item.nav_item(href="#") Right Sidebar
                                            li.px-0
                                                a.dropleft-item.nav_item(href="#") Standard Left Sidebar 
                                            li.px-0
                                                a.dropleft-item.nav_item(href="#") Standard Right Sidebar 
                                    li.px-0.dropleft
                                        a.dropdown-item.nav_item(href="#") Masonry
                                            i.header-nav__icon.ti-angle-right.float-right
                                        ul.dropleft-menu.py-0
                                            li.px-0
                                                a.dropleft-item.nav_item(href="#") 3 Columns 
                                            li.px-0  
                                                a.dropleft-item.nav_item(href="#") 4 Columns 
                                            li.px-0
                                                a.dropleft-item.nav_item(href="#") Left Sidebar  
                                            li.px-0 
                                                a.dropleft-item.nav_item(href="#") Right Sidebar
                                    li.px-0.dropleft
                                        a.dropdown-item.nav_item(href="#") Single Post
                                            i.header-nav__icon.ti-angle-right.float-right
                                        ul.dropleft-menu.py-0
                                            li.px-0
                                                a.dropleft-item.nav_item(href="#") Default 
                                            li.px-0  
                                                a.dropleft-item.nav_item(href="#") Left Sidebar 
                                            li.px-0
                                                a.dropleft-item.nav_item(href="#") Slider Post 
                                            li.px-0 
                                                a.dropleft-item.nav_item(href="#") Video Post
                                            li.px-0
                                                a.dropleft-item.nav_item(href="#") Audio Post 
                                    li.px-0.dropleft
                                        a.dropdown-item.nav_item(href="#") List
                                            i.header-nav__icon.ti-angle-right.float-right
                                        ul.dropleft-menu.py-0
                                            li.px-0 
                                                a.dropleft-item.nav_item(href="#") Left Sidebar
                                            li.px-0  
                                                a.dropleft-item.nav_item(href="#") Right Sidebar
                            li.dropdown.position-static
                                a(data-toggle="dropdown" href="#").d-flex.align-items-center.header-nav__text shop  
                                    i.header-nav__icon.ti-angle-down.ml-2
                                .w-100.dropdown-menu.mega-menu
                                    ul.d-lg-flex.py-3
                                        li.col-lg-3.p-0
                                            ul.border-right
                                                li.dropdown-header Shop page layout 
                                                li
                                                    a.dropdown-item.nav_item(href="#") Shop List View 
                                                li
                                                    a.dropdown-item.nav_item(href="#") Shop List Left Sidebar 
                                                li
                                                    a.dropdown-item.nav_item(href="#") Shop List Right Sidebar
                                                li
                                                    a.dropdown-item.nav_item(href="#") Left Sidebar 
                                                li
                                                    a.dropdown-item.nav_item(href="#") Right Sidebar 
                                                li
                                                    a.dropdown-item.nav_item(href="#") Shop Load More  
                                        li.col-lg-3.p-0
                                            ul.border-right
                                                li.dropdown-header Other Pages
                                                li
                                                    a.dropdown-item.nav_item(href="#") Cart 
                                                li
                                                    a.dropdown-item.nav_item(href="#") Checkout 
                                                li
                                                    a.dropdown-item.nav_item(href="#") My Account 
                                                li
                                                    a.dropdown-item.nav_item(href="#") Wishlist 
                                                li
                                                    a.dropdown-item.nav_item(href="#") Compare
                                                li
                                                    a.dropdown-item.nav_item(href="#") Order Completed 
                                        li.col-lg-3.p-0
                                            ul.border-right.h-100
                                                li.dropdown-header Product pages 
                                                li
                                                    a.dropdown-item.nav_item(href="#") Default 
                                                li
                                                    a.dropdown-item.nav_item(href="#") Left Sidebar 
                                                li
                                                    a.dropdown-item.nav_item(href="#") Right Sidebar 
                                                li
                                                    a.dropdown-item.nav_item(href="#") Thumbnails Left 
                                        li.col-lg-3.p-0
                                            .header_banner.position-relative.p-3 
                                                .banner_img
                                                    img(src="assets/images/header/shop_banner.jpg" alt="shop_banner").img-fluid 
                                                .shop_bn_content.position-absolute 
                                                    h5(class="text-uppercase shop_subtitle") New Collection
                                                    h3(class="text-uppercase shop_title") Sale 30% Off
                                                    a(href="#" class="btn btn-white rounded-0 btn-sm text-uppercase").d-flex.justify-content-center Shop Now                                
                            li.dropdown
                                a(href="#").d-flex.align-items-center.header-nav__text contact us 
                    ul.navbar-nav.attr-nav.align-items-center.header-nav__right 
                        li.d-flex.align-items-center
                            a.search-trigger(href="#")
                                i.lnr.lnr-magnifier
                            .search-wrap 
                                span.close-search 
                                    i.ti-close 
                                form.position-relative.w-100
                                    input(type="text" placeholder="Search" name="search_input").form-control#search_input
                                    button(type="submit").search_icon
                                        i.lnr.lnr-magnifier
                            .search-overlay 
                        li.dropdown.d-flex.align-items-center
                            a.cart-trigger(href='#' data-toggle="dropdown")
                                i.lnr.lnr-cart
                                //- span.cart_count 2
                            .cart_box.dropdown-menu.dropdown-menu-right
                                ul.cart_list 
                                    li.position-relative 
                                        a.item_remove(href='#')
                                            ion-icon(name="close")
                                        a(href='#')
                                            img(src='assets/images/header/cart_thamb1.jpg' alt='cart_thumb1')
                                            | Variable product 001
                                        span.cart_quantity
                                            | 1 x 
                                            span.cart_amount
                                                span.price_symbole $
                                            | 78.00
                                    li.position-relative  
                                        a.item_remove(href='#')
                                            ion-icon(name="close")
                                        a(href='#')
                                            img(src='assets/images/header/cart_thamb2.jpg' alt='cart_thumb2')
                                            | Ornare sed consequat
                                        span.cart_quantity
                                            | 1 x 
                                            span.cart_amount
                                                span.price_symbole $
                                            | 81.00
                                .cart_footer
                                    p.cart_total
                                        strong Subtotal:
                                        span.cart_price
                                            span.price_symbole $
                                        | 159.00
                                    p.cart_buttons
                                        a.btn.btn-fill-line.view-cart(href='#') View Cart
                                        a.btn.btn-fill-out.checkout(href='#') Checkout



