.login-form {
    &-section {
      padding: 100px 0;
      @include max-breakpoint(1198) {
        padding: 80px 0;
      }
      @include max-breakpoint(767) {
        padding: 50px 0;
      }
      @include max-breakpoint(574) {
        padding: 30px 0;
      }
    }
    &__box {
      padding: 42px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1),
        -2px -2px 10px rgba(0, 0, 0, 0.1);
  
      @include max-breakpoint(767) {
        padding: 36px;
      }
      @include max-breakpoint(574) {
        padding: 26px;
      }
  
      .email-form,
      .pw-form {
        color: $color-secondary;
        color: #000;
  
        &:focus {
          box-shadow: none;
          border-color: $color-formBorder--focus;
        }
      }
    }
  
    &__title {
      font-family: $font-roboto, sans-serif;
      color: $color-secondary;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 28px;
      line-height: 1.2;
      margin-bottom: 20px;
      @include max-breakpoint(1198) {
        font-size: 26px;
      }
      @include max-breakpoint(767) {
        font-size: 24px;
      }
      @include max-breakpoint(480) {
        font-size: 20px;
      }
    }
  
    &__options {
      @include max-breakpoint(480) {
        font-size: 14px;
      }
      .checkBox {
        cursor: pointer;
  
        #remember {
          cursor: pointer;
          width: 17px;
          -webkit-appearance: none;
          -moz-appearance: none;
          height: 17px;
          border: 2px solid lighten($color-primary, 35%);
  
          &:focus {
            outline: none;
            border-color: none;
          }
  
          &:checked {
            outline: none;
            background-color: red;
            border-color: red;
          }
  
          label {
            &::before {
              position: absolute;
              top: 0;
              left: -8px;
            }
          }
  
          & + label::before {
            content: "";
          }
  
          &:checked + label::before {
            content: "\2713";
          }
        }
        label {
          cursor: pointer;
          position: relative;
          &::before {
            position: absolute;
            top: 0;
            left: -22.5px;
            color: white;
          }
        }
      }
      .forgetPassword {
        a {
          color: $color-primary;
          text-transform: capitalize;
        }
      }
    }
  
    &__signUp {
      margin-top: 20px;
  
      a {
        color: $color-secondary;
        &:hover {
          color: $color-signUp--hover;
        }
      }
      @include max-breakpoint(480) {
        font-size: 14px;
      }
    }
  }
  .btn {
    color: $color-white;
    &:focus {
      box-shadow: none;
    }
    &:hover {
      color: $color-white;
    }
    @include max-breakpoint(574) {
      font-size: 14px;
    }
    &-login {
      &--primary {
        padding-top: 24px;
        padding-bottom: 24px;
        color: $color-white;
        background-color: $color-loginBtn;
        transition: all 0.3s ease-in-out;
        //   background-image: linear-gradient($color-loginBtn, $color-loginBtn);
        //   background-repeat: no-repeat;
        //   transition: background-size 0.5s, color 0.5s;
        //   background-position: 20% 20%;
        &::before {
          position: absolute;
          content: "Log In";
          left: 50%;
          top: 50%;
          z-index: 10;
          background-color: transparent;
          transform: translate((-50%, -50%));
          transition: all 0.3s ease-in-out;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $color-white;
          border: 1px solid $color-loginBtn;
          border-radius: 4px;
  
          transform: scaleX(0);
          transition: all 0.3s ease-in-out;
        }
  
        &:hover::after {
          color: $color-loginBtn;
          background-position: 100% 100%;
          transform: scaleX(1);
        }
        &:hover::before {
          color: $color-loginBtn;
        }
      }
      &--secondary {
        padding: 10px 20px;
  
        i {
          font-size: 14px;
          margin-right: 8px;
        }
      }
    }
    &-facebook {
      background-color: $color-btnFacebook;
      margin-right: 8px;
  
      &:hover {
        background-color: $color-btnFacebook--hover;
      }
    }
    &-google {
      margin-left: 8px;
      background-color: $color-btnGoogle;
      &:hover {
        background-color: $color-btnGoogle--hover;
      }
    }
  }
  
  .custom {
    &__container {
      span {
        padding: 0 15px;
        @include max-breakpoint(480) {
          font-size: 14px;
        }
      }
    }
    &--line {
      width: 100%;
      height: 1px;
      background-color: $color-customLine;
    }
  }
  