.our-terms-condition{
    & h6{
        margin-bottom: 15px;
        color: $color-secondary;
        font-family: 'Roboto';
    }

    & p{
        font-size: 14px;
        margin-bottom: 15px;
        line-height: 28px;
        color: $color-primary;
        font-family:$font-poppins;
    }
    
    & hr{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}