.why-do-we-use{
    & h6{
        margin-bottom: 15px;
        color: $color-secondary;
        font-family:$font-roboto;
    }

    & p{
        font-size: 14px;
        margin-bottom: 15px;
        line-height: 28px;
        color: $color-primary;
        font-family:$font-poppins;
    }

    & ul{
        padding-left: 15px;

        & li{
            font-size: 14px;
            margin-bottom: 15px;
            line-height: 28px;
            list-style: disc;
        }
    }

    & hr{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}