.contact-section{
    padding: 100px 0 100px 0;
    .contact_style3{

        text-align: center;
        margin-bottom: 30px;
        box-shadow:0 0 10px rgb(0, 0, 0 / 10%);
        padding: 40px 20px;
        border-radius: 10px;
        .contact-section__icon{
            border: 1px solid #FF324D;
            margin:auto;
            margin-bottom:5px;
            height: 80px;
            width: 80px;
            display: flex;
            overflow: hidden;
            justify-content:center;
            align-items: center;
            border-radius: 100%;
            position: relative;
            z-index: 1;
            &img{
                line-height: 78px;
            }
        }
        .contact-section__icon:hover { 
            background-color:red;
        }
        
    }

    &__text span{
        color: #333;
        font-weight: 600;
        display: block;
        margin-bottom: 3px;
    }   
    &__text a{
        text-decoration: none;
        color: #687188;
        line-height: 28px;
        &:hover{
            color: red;
        }
    }
    .heading_s1 h2{
        font-weight: 700;
        margin: 0;
        text-transform: capitalize;
        color: #333;
    }
    .leads{
        margin-bottom: 30px ;
        & p{
            color: #687188;
            line-height: 28px;
           
        }
    }
    .btn{
        line-height: normal;
        padding: 12px 35px;
        text-transform: capitalize;
        color: #fff;
       
        background-color: #FF324D;
        .btn-fill-out{
            background-color: transparent;
            border: 1px solid #FF324D;
            color: #fff;
            position: relative;
            overflow: hidden;
            z-index: 1;
        }
    }
    .contact-map{
        float: right;
        display: block;
    }
}