.contact-section
    .container
        .row
            .col-xl-4.col-md-6
                .contact_wrap.contact_style3
                    .contact-section__icon
                        img(src="assets/images/lnr-map.svg", alt="map")
                    .contact-section__text
                        span Address
                        p   123 Street, Old Trafford, London, UK
            .col-xl-4.col-md-6
                .contact_wrap.contact_style3
                    .contact-section__icon
                        img(src="assets/images/lnr-envelope.svg", alt="envelope")
                    .contact-section__text
                        span Email Address <br>
                        a(href="mailto:info@sitename.com") info@yourmail.com
            .col-xl-4.col-md-6
                .contact_wrap.contact_style3
                    .contact-section__icon
                        img(src="assets/images/lnr-tablet.svg", alt="tablet")
                    .contact-section__text
                        span Phone
                        p   + 457 789 789 65
            //- START SECTION CONTACT
            .col-lg-6
                .heading_s1
                    h2 Get In Touch
                p.leads Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.
                .field_form
                    form(name="enq", method="post")
                        .row
                            .form-group.col-md-6
                                input.form-control(required placeholder="Enter Name *" id="first-name" name="name" type="text")
                            .form-group.col-md-6
                                input.form-control(required placeholder="Enter Email *" id="email" name="email" type="email") 
                            .form-group.col-md-6
                                input.form-control(required placeholder="Enter Phone No. *" id="phone" name="phone") 
                            .form-group.col-md-6
                                input.form-control(required placeholder="Enter Subject *" id="subject" name="name")
                            .form-group.col-md-12
                                textarea.form-control(required placeholder="Message *" id="description" name="message" rows="4") 
                            .col-md-12
                                button.btn.btn-fill-out(type="submit" title="Submit Your Message!" id="submitButton" name="submit" value="Submit") Send Message
                            .col-md-12
                                #alert-msg.alert-msg.text-center
        .row
            .contact-map
                img(src="assets/images/contact/map.png", alt="map")

            //- END SECTION CONTACT

