.fashion-1-section
    include ../components/home/fashion-1/banner-owl.pug
    include ../components/home/fashion-1/banner.pug
    include ../components/home/fashion-1/best-summer-collection.pug
    include ../components/pages/about-us/our-client-say.pug
    include ../components/pages/about-us/free-delivery.pug
    include ../components/home/fashion-1/page-modal.pug
