.terms-and-conditions-section
    .container
        .row
            .col-12
                include ../components/pages/term-and-condition/our-terms-and-conditions.pug
                include ../components/pages/term-and-condition/where-does-it-come-from.pug
                include ../components/pages/term-and-condition/why-do-we-use-it.pug
    
    