.carousel-fade{

    .carousel-item{

        height: 500px;

        &.background_bg {
            background-position: center center;
            background-size: cover;
        }

        // RESPONSIVE
        @include breakpoint(991) {
            height: 350px;
        }

    }
    .carousel-content{

        position: relative;
        height: 100%;
        margin: auto;
        overflow: hidden;

        .carousel-caption{

            left: 15px; 
            top: 50%;
            transform: translateY(-50%);
            
            @include breakpoint(575) {
                left: 5%;
                right:auto;
            }
            
        }

    }
    

    .carousel-control-next,
    .carousel-control-prev{
        // box-shadow: 0 0 10px rgb(0 0 0 / 10%);
        background-color: $bg-white;
        font-size: 1.125rem;
        height: 3.125rem;
        opacity: 0;
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 3.125rem;
        transition: all 0.3s ease-in-out;
        color: $color-secondary;
    
        &:hover{
            color: $color-white;
            background: $color-loginBtn;
        }

        @include breakpoint(575) {
            width: 2.375rem;
            height: 2.375rem;
            font-size: .875rem;
        }
            
    }

    .carousel-control-next {
        right:20px;

        @include breakpoint(575) {
           right:0;
        }
    }

    .carousel-control-prev {
        left:20px;

        @include breakpoint(575) {
            left: 0;
         }
    }

    &:hover .carousel-control-next,
    &:hover .carousel-control-prev{

        opacity: 1;

    }

    .carousel-caption{

        h5{
            @include breakpoint(575) {
                font-size: 1rem;
            }
        }

        h2 {
            font-size: 3.75rem;
            margin-bottom: 1.25rem;
            font-weight: 600;
            text-transform: capitalize;

            // RESPONSIVE
            @include breakpoint(991) {
                font-size: 2.75rem;
            }

            @include breakpoint(767) {
                font-size: 2.25rem;
            }

            @include breakpoint(575) {
                font-size: 1.75rem;
            }
        }

        .btn-fill-out {
            background-color: transparent;
            border: 1px solid $color-loginBtn;
            color: #fff;
            position: relative;
            overflow: hidden;
            z-index: 1;
            padding: .75rem 2.1875rem;
            transition: all 0.3s ease-in-out;

            &::before, &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                background-color: $color-loginBtn;
                z-index: -1;
                transition: all 0.3s ease-in-out;
                width: 51%;
            }
            &::after {
                right: 0;
                left: auto;
            }

            &:hover:before, 
            &:hover:after {
                width: 0;
            }

            &:hover{
                color: $color-loginBtn;
            }

            @include breakpoint(575) {
                font-size: 1.75rem;
                padding: .625rem 1.75rem;
                font-size: .875rem;
            }
            
        }
    }

    
}


