
.page-modal{
    display:none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6); 
    display:flex;
    justify-content: center;
    align-items:center;
    .outside-modal{
        @include breakpoint(991){
            padding:0;
        }
        @include breakpoint(767){
            margin:0;
            max-width:728px;
            height:303px;
            // margin:0;
        }
        .modal-dialog{
            display:flex;
            justify-content: center;
            align-items:center;
            @include breakpoint(991){
                max-width:700px;
                height:345px;
                margin: 28px 10px;
            }
            @include breakpoint(767){
                max-width:728px;
                height:303px;
                margin:0;
            }
            // @include breakpoint(575){
            //     display:flex;
            //     justify-content: center;
            //     width:559px;
            //     height:314px;
            // }
            .modal-content{
                border:none;
                border-radius:0;
                height:389px;
                @include breakpoint(991){
                    width:700px;
                    height:345px;
                }
                @include breakpoint(767){
                    width:100%;
                    height:303px;
                }
                @include breakpoint(575){
                    max-height:268px;
                    width:559px;
                }
                button.close{
                    position:absolute;
                    right:0;
                    top:0;
                    color:black;
                    font-size:40px;
                    opacity: 1;
                    z-index: 9;
                    text-shadow: none;
                    width: 40px;
                    height: 40px;
                    &:focus{
                        outline:none;
                    }
                }
                .modal-body{
                    height:100%;
                    padding:0;
                    margin:0;
                    .background-div{
                        padding:0;
                        height:100%;
                        width:100%;
                        @include breakpoint(575){
                            display:none;
                        }
                        .background-img{
                            background-image: url("../../assets/images/home/fashion-1/page-modal/popup_img.jpg");
                            background-position: center center;
                            background-size: cover;
                            height:100%;
                            width:100%;
                        }
                    }
                    .modal-text{
                        height:100%;
                        padding:50px;
                        @include breakpoint(991){
                            padding:0;
                        }
                        @include breakpoint(767){
                            display:flex;
                            justify-content: center;
                            align-items:center;
                        }
                       
                        .popup-content{
                            
                            @include breakpoint(991){
                                padding:30px;
                            }
                            @include breakpoint(767){
                                width:375px;
                                padding:0;
                                height: 253px;
                            }
                            @include breakpoint(575){
                                padding:25px;
                                width:100%;
                                height:100%;
                                position:relative;
                            }
                        .heading{
                                h4{
                                    text-align:center;
                                    font-size:22px;
                                    font-weight: 700;
                                    margin: 0;
                                    text-transform: capitalize;
                                    line-height: normal;
                                    @include breakpoint(767){
                                        font-size:20px;
                                    }
                                }
                                p{
                                    margin:25px 0;
                                    text-align: center;
                                    color: #687188;
                                    line-height: 28px;
                                    @include breakpoint(767){
                                        font-weight:400;
                                        font-size:14px;
                                        margin:15px 0;
                                        line-height: normal;
                                    }
                                    @include breakpoint(575){
                                        margin:13px 0;
                                    }
                                }
                        }
                        .form{
                            @include breakpoint(575){
                                height:103px;
                            }
                            .popup-form{
                                .form-group{
                                    margin-bottom: 16px;
                                    @include breakpoint(575){
                                        height:44px;
                                        margin-bottom: 19px;
                                    }
                                    .form-control{
                                        color: #000;
                                        box-shadow: none;
                                        height: 50px;
                                        padding: 8px 15px;
                                        border-radius:0;
                                    }
                                    button{
                                        // margin-bottom:16px;
                                        border-radius:0;
                                        text-transform: capitalize;
                                        font-family: $font-poppins;
                                        font-weight:300;
                                        font-size:16px;
                                        padding: 12px 35px;
                                        border: 1px solid #333;
                                        text-decoration: none;
                                        color: white;
                                        display: inline-block;
                                        background-color: #333;
                                        position: relative;
                                        overflow: hidden;
                                        z-index: 1;
                                        @include breakpoint(575){
                                            font-size:14px;
                                        }
                                        &::before, &::after {
                                            width: 0;
                                            content: "";
                                            position: absolute;
                                            background-color: white;
                                            top: 0;
                                            bottom: 0;
                                            z-index: -1;
                                            transition: all .4s ease-in-out;
                                        }
                                        
                                        &::before {
                                            left:50%;
                                            right: auto;
                                        }
                                        
                                        &::after {
                                            right:50%;
                                            left: auto;
                                        }
                                        
                                        &:hover {
                                            color: #333;
                                            &::before, &::after {
                                            width: 51%;
                                            }
                                        }

                                    }

                                }
                            }
                        }
                        .check-form {
                                @include breakpoint(575){
                                    position:absolute;
                                    bottom:25px;
                                    left:25%;
                                }
                                text-align:center;
                                input[type="checkbox"] {
                                    visibility: hidden;
                                }
                                label {
                                    cursor: pointer;
                                }
                                input[type="checkbox"] + label:before {
                                    border: 2px solid #ced4da;
                                    content: "\00a0";
                                    display: inline-block;
                                    height: 17px;
                                    margin: 0px 7px 0 0;
                                    vertical-align: middle;
                                    width: 17px;
                                }
                                input[type="checkbox"]:checked + label:before {
                                    background-color: #FF324D;
                                    border-color: #FF324D;
                                    color: white;
                                    text-align: center;
                                    font-family: "Font Awesome 5 Free";
                                    font-weight: 900;
                                    content: '\f00c';
                                    font-size: 11px;
                                }
                                input[type="checkbox"]:checked + label:after {
                                    font-weight: bold;
                                
                                }
                                
                                
                        }
                        }
                    }
                }
            }
        }
    }
}