//-   ******************** Start Banner owl *****************//

include ../../../mixin/banner-owl.pug
.banner_section.slide_medium.shop_banner_slider.staggered-animation-wrap
    .container
        .row 
            .col-lg-9.offset-lg-3
                +carousel("slide",[{image:"assets/images/home/fashion-2/banner-owl/banner4.jpg",h5:"Get up to 50% off Today Only!",h2:"Woman Fashion",button:{caption:"Shop Now",url:"#"}},{image:"assets/images/home/fashion-2/banner-owl/banner5.jpg",h5:"50% off in all products",h2:"Man Fashion",button:{caption:"Shop Now",url:"#"}},{image:"assets/images/home/fashion-2/banner-owl/banner6.jpg",h5:"Taking your Viewing Experience to Next Level",h2:"Summer Sale",button:{caption:"Shop Now",url:"#"}}],2)
    
//- ******************** End Banner owl *****************//