//- Bao

.our-client-say
    .container
        .row
            .col-md-6.ml-auto.mr-auto
                .heading.text-center.mb-4
                    h2.m-0 Our Client Say!
            .col-lg-9.ml-auto.mr-auto.owl-carousel.owlCarousel__container
                .testimonial__box.item
                    .testimonial__description
                        p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.
                    .testimonial__author
                        .author__img
                            img(src="/assets/images/about/our-client-say/author1.jpg", alt="Photo of Author 1")
                        .author__info
                            h6.author__name Lissa Castro
                            span.author__job Designer
                .testimonial__box.item
                    .testimonial__description
                        p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.
                    .testimonial__author
                        .author__img
                            img(src="/assets/images/about/our-client-say/author2.jpg", alt="Photo of Author 2")
                        .author__info
                            h6.author__name Alden Smith
                            span.author__job Designer
                .testimonial__box.item
                    .testimonial__description
                        p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.
                    .testimonial__author
                        .author__img
                            img(src="/assets/images/about/our-client-say/author3.jpg", alt="Photo of Author 3")
                        .author__info
                            h6.author__name Daisy Lana
                            span.author__job Designer
                .testimonial__box.item
                    .testimonial__description
                        p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta distinctio, enim error eum iste libero modi nam natus perferendis possimus quasi sint sit tempora voluptatem.
                    .testimonial__author
                        .author__img
                            img(src="/assets/images/about/our-client-say/author4.jpg", alt="Photo of Author 4")
                        .author__info
                            h6.author__name John Becker
                            span.author__job Designer
