.team-member
  .container
    .heading-team-member  
      .col-lg-6
          .team-member-heading
            h2 Our Team Members
          p.content-heading Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
    .row
      .col-lg-3.col-sm-6
        .member-box
          .member-img
            img(src='assets/images/team_img1.jpg' alt='member_img1')
          .member-content
            .member-title
              h5 John Muniz
              span Project Engineer
      .col-lg-3.col-sm-6
        .member-box
          .member-img
            img(src='assets/images/team_img2.jpg' alt='member_img2')
          .member-content
            .member-title
              h5 Alea Brooks
              span Graphics Designer
      .col-lg-3.col-sm-6
        .member-box
          .member-img
            img(src='assets/images/team_img3.jpg' alt='member_img3')
          .member-content
            .member-title
              h5 Anders Glick
              span Software Developer
      .col-lg-3.col-sm-6
        .member-box
          .member-img
            img(src='assets/images/team_img4.jpg' alt='member_img3')
          .member-content
            .member-title
              h5 Richard Tice
              span Web Developer        