// COLOR
$color-primary:#687188;
$color-secondary:#292b2c;
$topheader:red;
$owlCarousel-BgColor: #fff1f1;
$authorJob-TxtColor: #ff324d;
$color-white: #fff;
$color-formBorder--focus: #80bdff;
$color-loginBtn: #ff324d;
$color-customLine: #ededed;
$color-btnFacebook: #3b5998;
$color-btnFacebook--hover: #344e86;
$color-btnGoogle: #d85040;
$color-btnGoogle--hover: #d33d2b;
$color-signUp--hover: #ff324d;

//BG
$bg-white:#fff;


//FONT
$default-font-size: 16px;
$font-roboto: "Roboto";
$font-poppins: "Poppins";
