//-   ******************** Start Banner  *****************//
.banner-section-2
    .container
        .row
            .col-md-6
                .single-banner
                    img.single-banner-img(src="assets/images/home/fashion-1/banner/shop_banner_img1.jpg" alt="")
                    .single-banner-info
                        h5.single-banner-info-title1 Super Sale
                        h3.single-banner-info-title New Collection
                        a.single-banner-info-link(href="shop-left-sidebar.html") Shop Now
            .col-md-6
                .single-banner
                    img.single-banner-img(src="assets/images/home/fashion-1/banner/shop_banner_img2.jpg" alt="")
                    .single-banner-info
                        h3.single-banner-info-title New Season
                        h4.single-banner-info-title1 Sale 40% Off
                        a.single-banner-info-link(href="shop-left-sidebar.html") Shop Now




//- ******************** End Banner *****************//