//-   ******************** Start Banner owl *****************//

include ../../../mixin/banner-owl.pug
.banner-section-1.banner-carousel
    +carousel("carouselFade",[{image:"assets/images/home/fashion-1/banner-owl/banner1.jpg",h5:"Get up to 50% off Today Only!",h2:"Woman Fashion",button:{caption:"Shop Now",url:"#"}},{image:"assets/images/home/fashion-1/banner-owl/banner2.jpg",h5:"50% off in all products",h2:"Man Fashion",button:{caption:"Shop Now",url:"#"}},{image:"assets/images/home/fashion-1/banner-owl/banner1.jpg",h5:"Taking your Viewing Experience to Next Level",h2:"Summer Sale",button:{caption:"Shop Now",url:"#"}}])
    
//- ******************** End Banner owl *****************//

