//-   ******************** Start Best Summer Collection*****************//
.best-summer-collection
    .container 
        .summer-collection-content
            .row.content-main
                .col-md-5
                    .tranding-img 
                        img(src="./assets/images/home/fashion-1/tranding_img.png", alt="tranding-img")
                .col-md-6.offset-md-1
                    .summer-collection-text 
                        p 
                            span new
                            |   season trends! 
                        h2 best summer collection
                        h5 
                            |   sale get 
                            span up to 
                            |   50% off 
                        a(href="#" class="btn-shop") shop now 

//-   ******************** End Best Summer Collection*****************//