

$c-breadcrumb-hover: #FF324D;
$c-breadcrumb-current: #6c757d;

.breadcrumb {
    width:100%;
    padding:70px 0;
    background-color:#f7f8fb;
    text-transform: capitalize;
    @include breakpoint(768){
        padding:50px 0;
    }
    .title{
        padding:0;
        h1{
            font-size:28px;
            font-weight: bold;
            line-height: normal;
            color: #292b2c;
            font-family: 'Roboto', sans-serif;
            @include breakpoint(768){
                margin-bottom: 15px;
            }
        } 
    }

    .breadcrumb__content{
        @include breakpoint(768){
           display:flex;
           justify-content: flex-start;
           padding:0;
        }
        .breadcrumb__list{
            display:flex;
            justify-content: flex-end;

            .breadcrumb__item {
                display: inline-block;
                &:not(:first-child):before {
                    content: '>';
                    margin-right: 4px;
                    margin-left: 4px;
                    color:#6c757d;
                }
                
                // &:not(:first-child):hover {
                // color:$c-breadcrumb-current;
                // } 
            }
            
            .breadcrumb__link {
                color:#292b2c;
                &:hover {
                    text-decoration:none;
                    color: $c-breadcrumb-hover;
                }
            }
            
            .breadcrumb__link-current {
                color: $c-breadcrumb-current;
            }
            
            .breadcrumb__list {
                list-style-type: none;
                
                padding: 0;
            }
        }
    }
}

  