.product {
  position: relative;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  &__actions {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-list {
      .action {
        display: inline-block;
        width: 37px;
        height: 37px;
        background-color: $color-white;
        color: $color-secondary;
        margin: 0 5px;
        text-decoration: none;
        transition: all 0.3s;
        i {
          font-size: 18px;
        }

        &:hover {
          background-color: $color-primary-red;
          color: $color-white;
        }
      }
    }
    &-item {
      opacity: 0;
      transform: translate(0, 50%);
      &:nth-child(1) {
        transition: all 0.2s;
      }
      &:nth-child(2) {
        transition: all 0.3s;
      }
      &:nth-child(3) {
        transition: all 0.4s;
      }
      &:nth-child(4) {
        transition: all 0.5s;
      }
    }
  }

  &:hover {
    & .product__img::before {
      opacity: 1;
    }
    & .product__actions-item {
      transform: translate(0, 0);
      opacity: 1;
    }
    & .product__rating {
      opacity: 0;
    }
    & .product__color-switch,
    & .product__color-switch .color-product-1,
    & .product__color-switch .color-product-2,
    & .product__color-switch .color-product-3 {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  &__tag {
    background-color: $color-primary-orange;
    color: $color-white;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 13px;
    z-index: 1;
  }
  &__img {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::before {
      content: "";
      background-color: rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.5s;
    }
  }

  &__title {
    font-family: $font-roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;

    a {
      text-decoration: none;
      color: $color-secondary;
      &:hover {
        color: $color-primary-red;
      }
    }
  }

  &__price {
    font-size: 14px;
    font-weight: 400;
    .price {
      font-size: 16px;
      font-weight: 600;
      color: $color-primary-red;
    }
    del {
      color: $color-primary;
    }

    .sale {
      color: $color-primary-green;
    }
  }

  &__rating {
    transition: all 0.3s;
    .stars {
      &-outer {
        position: relative;
        display: inline-block;
        width: 70px;
        height: 20px;

        &::before {
          font-size: 12px;
          content: "\f005 \f005 \f005 \f005 \f005";
          font-family: "Font Awesome 5 Free";
          font-weight: 400;
          color: #f8ce0b;
          vertical-align: top;
        }
      }

      &-inner {
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 0%;
        &::before {
          font-size: 12px;
          content: "\f005 \f005 \f005 \f005 \f005";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          color: #f8ce0b;
          vertical-align: top;
        }
      }
    }

    .numbers-rating {
      font-size: 14px;
      font-weight: 400;
      color: $color-primary;
    }
  }

  &__color-switch {
    position: absolute;
    bottom: 10px;
    left: 10px;
    opacity: 0;
    .color {
      &-option {
        position: relative;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        padding: 0;
        margin: 5px;
        opacity: 0;
        transform: translateY(50%);
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 50%;
          margin: -2.5px;
          border: 2px solid $color-white;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          opacity: 0;
        }
      }

      &-product-1 {
        background-color: $color-product-option-1;
        transition: all 0.3s;
      }
      &-product-2 {
        background-color: $color-product-option-2;
        transition: all 0.4s;
      }
      &-product-3 {
        background-color: $color-product-option-3;
        transition: all 0.5s;
      }
    }

    .active::before {
      opacity: 1;
    }
  }
}
