//- ******************** Start Breadcrumb *****************//
include ../../../mixin/breadcrumb.pug
//- include ..../mixin/breadcrumb.pug
+breadcrumb(['Home','Pages'], 'Faq',"Frequently Asked Question")

//- ******************** End Breadcrumb *****************//
